@import url("https://fonts.googleapis.com/css2?family=spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 500px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}
.section-p2 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

.login {
  width: 100px;
  height: 30px;
  margin-right: 30px;
  margin-left: 20px;
  background: #088178;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  /* font-size: 1.1em; */
  /* color: #fff; */
  transition: 0.5s;
  margin-right: 70px;
}

.login:hover {
  background: #022c29;
  color: white;
}

.signup {
  width: 100px;
  height: 30px;
  /* margin-right: 30px; */
  background: #088178;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  /* font-size: 1.1em; */
  /* color: #fff; */
  transition: 0.5s;
}

.signup:hover {
  background: #022c29;
  color: white;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
  font-family: sans-serif;
}

#header img {
  margin-top: -20px;
  margin-bottom: -20px;
  margin-right: 5px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 100px; */
}

#navbar li {
  list-style: none;
  padding: 10px 20px;
  position: relative;
  margin-right: 90px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#hero {
  background-image: url("Logo/home_bg_1.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-blend-mode: darken;
}

#hero h1 {
  padding-bottom: 15px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
}
#hero h3 {
  padding-bottom: 15px;
  /* color: #ffffff; */
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  color: #ffffff;
}

.btn {
  border: none;
  margin: 20px;
  padding: 34px;
  width: 220px;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
}
.btn1 {
  background-image: linear-gradient(to left, white, black, grey);
}
.btn:hover {
  background-position: right;
}

.container {
  max-width: 700px;
  margin: auto;
}

button {
  text-decoration-color: black;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(3, 2, 25, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: black;
  background-color: #088178;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: peachpuff;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: lightblue;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: lightcyan;
}

#animal1 {
  text-align: center;
}

#animal1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#animal1 .pro {
  width: 25%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2sec ease;
  position: relative;
}

#animal1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#animal1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#animal1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#animal1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#animal1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#animal1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#animal1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  /* font-weight: 500; */
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("logo/clothes_access.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h3 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: palegreen;
}

#banner h3 span {
  color: red;
}

#banner button:hover {
  background: #088178;
  color: whitesmoke;
}

#why_to_adopt .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("logo/doggo.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#why_to_adopt h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#why_to_adopt h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#why_to_adopt .banner-box:hover button {
  background: goldenrod;
  border: 1px solid goldenrod;
}

#staff {
  text-align: center;
}

#staff .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#staff .pro {
  width: 25%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2sec ease;
  position: relative;
}

#staff .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#staff .pro img {
  width: 100%;
  border-radius: 20px;
}

#staff .pro .des {
  text-align: start;
  padding: 10px 0;
}

#staff .pro .des span {
  color: #606063;
  font-size: 12px;
}

#staff .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#staff .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#staff p {
  color: #088178;
  font-size: 27px;
}

#staff .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  /* font-weight: 500; */
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.downloadimg1 {
  width: 130px;
}

.downloadimg2 {
  width: 130px;
  height: 42px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 18px;
  padding-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer p {
  font-size: 15px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 15px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: darkslategray;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

.copyright {
  width: 100%;
  text-align: center;
}

#page-header {
  background-image: url("training_and_diet/pg_2_header.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#food-details {
  display: flex;
  margin-top: 20px;
}

#food-details .single-food-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 50%;
  cursor: pointer;
}

#food-details .single-food-details {
  width: 50%;
  padding-top: 30px;
}

#food-details .single-food-details h4 {
  padding: 40px 0 20px 0;
}

#food-details .single-food-details h2 {
  font-size: 26px;
}

#food-details .single-food-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#food-details .single-food-details button {
  background: #088178;
  color: #fff;
}

#food-details .single-food-details span {
  line-height: 25px;
}

.checked {
  color: orange;
}

/* #page-header .blog-header {
  background-image: url("blog_header_img/blog_header_1.jpg");
} */

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  background-color: #088178;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span {
  font-size: 12px;
}

#contact-details .details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#form-details span {
  font-size: 12px;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  color: #fff;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
